@model WRR.Areas.Reserv.Models.RackBookingViewModel
@using WRR.Extensions
@{
    ViewBag.Title = "Rates";
    Layout = "~/Areas/Reserv/Views/Shared/_ReservLayout.cshtml";
}


<div class="container rounded my-4 bg-gray-200 p-3">
    <div class="rounded bg-white p-3 my-4 mx-2 round-border">
        @Html.HiddenFor(model => model.Package.ValidFrom)
        @Html.HiddenFor(model => model.Package.ValidtTo)
        @Html.HiddenFor(model => model.Package.MinDays)
        @Html.HiddenFor(model => model.Package.MaxDays)

        <h4 class="text-primary">@Html.DisplayFor(model => model.Package.Name)</h4>
        <p><strong>Valid Dates: </strong>@Convert.ToDateTime(Model.Package.ValidFrom).ToString("ddd, MMM-dd-yyyy") - @Convert.ToDateTime(Model.Package.ValidtTo).ToString("ddd, MMM-dd-yyyy")</p>
        <p>
            <strong>Arrival Day: </strong>
            @if (Model.Package.ArrMon == true && Model.Package.ArrTues == true && Model.Package.ArrWed == true && Model.Package.ArrThurs == true && Model.Package.ArrFri == true && Model.Package.ArrSat == true && Model.Package.ArrSun == true)
            {<span>Any day of the week</span>}
            else
            {

                List<string> listofDays = new List<string>();
                if (Model.Package.ArrMon == true)
                { listofDays.Add("Mon"); }
                if (Model.Package.ArrTues == true)
                { listofDays.Add("Tues"); }
                if (Model.Package.ArrWed == true)
                { listofDays.Add("Weds"); }
                if (Model.Package.ArrThurs == true)
                { listofDays.Add("Thurs"); }
                if (Model.Package.ArrFri == true)
                { listofDays.Add("Fri"); }
                if (Model.Package.ArrSat == true)
                { listofDays.Add("Sat"); }
                if (Model.Package.ArrSun == true)
                { listofDays.Add("Sun"); }
                int last = listofDays.Count - 1;
                for (int i = 0; i <= last; i++)
                {
                    if (i == last)
                    {
                        <span>@listofDays[i].ToString()</span>
                        break;
                    }
                    else
                    {
                        <span>@listofDays[i].ToString() , </span>
                    }
                }
            }
        </p>
        <p><strong>Length of Stay: </strong>@Html.DisplayFor(model => model.Package.MinDays) nights min / @Html.DisplayFor(model => model.Package.MaxDays) nights max</p>
        @Html.Raw(HttpUtility.HtmlDecode(Model.Package.Description))
    </div>
</div>

<div class="container rounded my-4 bg-gray-200 p-3">


    @if (Model.AvailableRooms.Count > 0)
    {
        <div class="rounded bg-white py-2 my-4 mx-2 text-center round-border">
            <div class="row justify-content-center">
                <div class="col-sm-4 h5 text-center pt-2"><i class="fas fa-calendar-alt text-secondary d-none d-md-inline-block"></i>@Convert.ToDateTime(Model.ArrivalDate).ToString("ddd, MMM dd") - @Convert.ToDateTime(Model.DepartureDate).ToString("ddd, MMM dd")</div>
                <div class="col-sm-4 h5 text-center pt-2"><i class="fas fa-user text-secondary ml-3 mr-2 d-none d-md-inline-block"></i>@Html.DisplayFor(model => model.Adults) Adults <span class="d-md-none d-sm-inline mr-1">/</span> <i class="fas fa-child text-secondary ml-2 mr-2 d-none d-md-inline-block"></i>@Html.DisplayFor(model => model.Children) Children </div>
                <div class="col-sm-4">
                    <p class="text-right mr-3">@Html.ActionLink("Edit Itinerary", "Special", new { @id = Model.Hotel.HotelID, @packageid = Model.Package.PackageID })</p>
                </div>
            </div>           
        </div>
        foreach (var AvailRooms in Model.AvailableRooms)
        {
            <div class="row rounded bg-white p-3 my-4 mx-2 round-border">
                @if (AvailRooms.MainImage.FileName != null)
                {
                <div class="col-md-4 pb-1 viewmore-img-container">
                    <a class="anchorAdd simple-img" data-id='@AvailRooms.RoomType.RoomTypeID'> @Html.ImageWithClass("MainImage", String.Format("/Content/room-images/{0}", AvailRooms.MainImage.FileName), "", "w-100 rounded")</a>
                    <a class="anchorAdd zoom-icon" data-id="@AvailRooms.RoomType.RoomTypeID"><span class="fas fa-expand fa-3x"></span></a>
                </div>
                }
                <div class="col pb-1 mt-2">
                    <h3>@Html.DisplayFor(item => AvailRooms.RoomType.Name)</h3>
                    <p><span class="fa fa-user"></span> Sleeps @Html.DisplayFor(item => AvailRooms.MaxGuests) <span class="pl-3 fa fa-bed"></span> @Html.DisplayFor(item => AvailRooms.RoomType.BedType)</p>
                    @if (AvailRooms.RoomType.Description.Length > 150)
                    {
                        <p>@Html.DisplayFor(item => AvailRooms.RoomType.Description).ToString().Substring(0, 150))...</p>
                    }
                    else
                    {
                        <p>@Html.DisplayFor(item => AvailRooms.RoomType.Description)</p>
                    }
                </div>
                <div class="col-md-2 pt-1 text-center">
                    @if (Model.ViewPackageRate == "Subtotal")
                    {
                        <p class="mb-0"><span class="h3">$@Html.DisplayFor(item => AvailRooms.SinglePackageRate.SubTotal)</span><span class="small d-md-none d-sm-inline text-uppercase"> / subtotal</span></p>
                        <p class="small d-none d-md-inline-block">Subtotal</p>
                    }
                    else if (Model.ViewPackageRate == "Total")
                    {
                        <p class="mb-0"><span class="h3">$@Html.DisplayFor(item => AvailRooms.SinglePackageRate.Total)</span><span class="small d-md-none d-sm-inline text-uppercase"> / total</span></p>
                        <p class="small d-none d-md-inline-block">Total</p>
                    }
                    else
                    {
                        <p class="mb-0"><span class="h3">$@Html.DisplayFor(item => AvailRooms.SinglePackageRate.AvgPerNight)</span><span class="small d-md-none d-sm-inline text-uppercase"> / avg per night</span></p>
                        <p class="small d-none d-md-inline-block">Avg Per Night</p>
                    }
                </div>
                <div class="col-md-2 pt-1">
                    <p>@Html.ActionLink("Select", "SelectPackage", new { id = Model.Hotel.HotelID, packageid = Model.Package.PackageID, roomid = AvailRooms.RoomType.RoomTypeID, arrival = Model.ArrivalDate, departure = Model.DepartureDate, adults = Model.Adults, child = Model.Children }, new { @class = "btn btn-primary w-100" })</p>
                    <p><button type="button" class="anchorPackage btn btn-secondary w-100" data-roomid="@AvailRooms.RoomType.RoomTypeID" data-packageid="@Model.Package.PackageID">View Rates</button></p>
                    <p><button type="button" id="btnViewMore" class="anchorAdd btn btn-info w-100" data-id='@AvailRooms.RoomType.RoomTypeID'>Room Details</button></p>
                    <div class="modal fade" id="PackageModal" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div id="packageModalContent"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }
    }
    else
    {
        <div class="row bg-white pt-3 pb-1 m-2 text-center">
            <p class="text-danger w-100 text-center">@ViewBag.ErrorMsg</p>

        </div>
    }
</div>

<div id='addModal' class='modal' role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='addModalContent'></div>
        </div>
    </div>

</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

         $(function () {
          
                $('.anchorAdd').click(function (e) {

                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                   
                    
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("ViewRoomDetail", "Specials", new { area = "Reserv" })',
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                        
                            $('#addModalContent').html(data);

                            $('#addModal').modal('show');

                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });


             $('.anchorPackage').click(function (e) {
                 e.preventDefault();
                 var $buttonClicked = $(this);
                 var roomid = $buttonClicked.attr('data-roomid');
                 var packageid = $buttonClicked.attr('data-packageid');

                 $.ajax({
                     type: "GET",
                     url: '@Url.Action("ViewPackageRates", "Specials", new { area = "Reserv" })',
                     contentType: "application/json; charset=utf-8",
                     data: { "roomid": roomid, "packageid": packageid },
                     datatype: "json",
                     success: function (data) {

                         $('#packageModalContent').html(data);

                         $('#PackageModal').modal('show');

                     },
                     error: function () {
                         alert("Dynamic content load failed.");
                     }
                 });
             });



             
        });
           
    </script>
    }