@model WRR.Models.ReservationReportDetailViewModel

@{
    /**/

    ViewBag.Title = "ReservationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="noprint">Detail Report</h2>
<hr class="noprint" />
<div class="w-100 text-success text-center h4" id="reviewname"></div>
@if (Model.ReviewedInitals.IsEmpty())
{

<div class="form-padding-left text-center noprint">
    <button type="button" id="btnPrint" data-secprint="false" data-id="@Model.ReservationID" class="btn btn-success btn-lg mr-3">Print</button>
    @Html.ActionLink("Back to Report", "ReservationReport", Model.SearchReportVM)


</div>

}
else
{
    <div class="row">
        <p class="w-100 text-success text-center h4">Reviewed by @Html.DisplayFor(model => model.ReviewedInitals) </p>
    </div>
    <div class="form-padding-left text-center noprint">
        @Html.ActionLink("Back to Report", "ReservationReport", Model.SearchReportVM) <button type="button" id="btnPrint" data-secprint="true" data-id="@Model.ReservationID" class="btn btn-info ml-3">Print again</button>

    </div>
}

@if (Model.OpenCount > 1 && Model.ReviewedInitals.IsEmpty())
{
    <div class="alert alert-dismissible alert-danger w-50 mx-auto mt-3">
        <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
        This report has reached the max times opened. <strong>Credit card info will be removed</strong>
    </div>
}

<div class="container">
    <div class="row p-3">
        <div class="col-md-6 p-3">
            <h3 class="text-primary">Reservation</h3>
            <hr />
            <table class="w-100 report">
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.ReservationID)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.ReservationID)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.RoomName)</td>
                    <td>@Html.DisplayFor(model => model.RoomName)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.ArrivalDate)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.ArrivalDate)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.DepartureDate)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.DepartureDate)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.TotalNights)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.TotalNights)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.Adults)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.Adults)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.Children)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.Children)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.SubTotal)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.SubTotal)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.ExtraAdultCharge)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.ExtraAdultCharge)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.ExtarChildCharge)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.ExtarChildCharge)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.WeekendFees)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.WeekendFees)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.ResortFees)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.ResortFees)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.TotalFees)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.TotalFees)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.Taxes)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.Taxes)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.TotalCharge)</td>
                    <td class="font-weight-bold text-success">@Html.DisplayFor(model => model.Reservation.TotalCharge)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.Deposit)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.Deposit)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.Comments)</td>

                </tr>
                <tr>
                    <td colspan="2">@Html.DisplayFor(model => model.Reservation.Comments)</td>
                </tr>

            </table>

            <h3 class="text-primary pt-3">Daily Rates</h3>
            <hr />
            <table class="w-100 report">
                @foreach (var daily in Model.DailyRate)
                {
                    <tr>
                        <td class="font-weight-bold">@Html.DisplayFor(item => daily.ReservationDate)</td>
                        <td>@Html.DisplayFor(item => daily.DailyRate)</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-6 p-3">
            <h3 class="text-primary">Customer</h3>
            <hr />
            <table class="w-100 report">
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.CustomerName)</td>
                    <td>@Html.DisplayFor(model => model.CustomerName)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.CusAddress1)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.CusAddress1)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.CusAddress2)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.CusAddress2)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.CusCity)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.CusCity)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.CusState)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.CusState)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.CusZip)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.CusZip)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.CusDayPhone)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.CusDayPhone)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.CusEmail)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.CusEmail)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.CCType)</td>
                    <td>@Html.DisplayFor(model => model.CCType)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.CardHolderName)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.CardHolderName)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.CardNumber)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.CardNumber)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.CardExpirationDate)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.CardExpirationDate)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.CardSecureCode)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.CardSecureCode)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.ReservationCreated)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.ReservationCreated)</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Reservation.UserInitals)</td>
                    <td>@Html.DisplayFor(model => model.Reservation.UserInitals)</td>
                </tr>
            </table>

            @if (Model.Amenities.Count > 0)
            {
                <h3 class="text-primary pt-3">Amenities</h3>
                <hr />

                foreach (var amenity in Model.Amenities)
                {
                    <div class="card shadow mb-2">
                        <div class="card-header text-white
                        @if (amenity.extraAmenity.PerDay) { @Html.Raw("bg-info"); }
                             else if (amenity.extraAmenity.OneTimeFee) { @Html.Raw("bg-danger"); }
                             else if (amenity.extraAmenity.OneTimeFeePerson) { @Html.Raw("bg-warning"); }
                             else if (amenity.extraAmenity.Discount) { @Html.Raw("bg-secondary"); }
                             else {@Html.Raw("bg-primary"); }">
                            <div class="w-100">
                                <span class="font-weight-bold" data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="@Html.DisplayFor(item=> amenity.extraAmenity.ShortDescription)">@Html.DisplayFor(item => amenity.extraAmenity.Name)</span>
                                <div class="float-right small">
                                    @if (amenity.extraAmenity.PerDay)
                                    {<span>Per Day</span>}
                                    else if (amenity.extraAmenity.OneTimeFee)
                                    { <span>One Time Fee</span>}
                                    else if (amenity.extraAmenity.OneTimeFeePerson)
                                    {<span>One Time Per Person</span>}
                                    else if (amenity.extraAmenity.Discount)
                                    { <span>Discount</span>}
                                    else if (amenity.extraAmenity.PerDayPerPerson)
                                    { <span>Per Day Per Person</span>}
                                    else if (amenity.extraAmenity.PerNightStay)
                                    { <span>Per Night Stay</span>}
                                </div>
                            </div>
                        </div>
                        <div class="card-body justify-content-center">
                            <table class="w-50 mx-auto">
                                @if (amenity.bookedAmenity.NumPeople > 0)
                                {
                                    <tr>
                                        <td class="font-weight-bold text-right">Qty:</td>
                                        <td class="pl-4">@Html.DisplayFor(item => amenity.bookedAmenity.NumPeople)</td>
                                    </tr>
                                }
                                @if (amenity.bookedAmenity.NumDate != null && amenity.bookedAmenity.NumDate > DateTime.MinValue)
                                {
                                    <tr>
                                        <td class="font-weight-bold text-right">Date:</td>
                                        <td class="pl-4">@Convert.ToDateTime(amenity.bookedAmenity.NumDate).ToString("ddd, MMM dd")</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="font-weight-bold text-right">Rate:</td>
                                    <td class="pl-4">$@Html.DisplayFor(item => amenity.bookedAmenity.ChargeAmount)</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-right">Tax:</td>
                                    <td class="pl-4">$@Html.DisplayFor(item => amenity.bookedAmenity.TaxRate)</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-right">Total:</td>
                                    <td class="pl-4">$@Html.DisplayFor(item => amenity.bookedAmenity.TotalCharge)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                }

            }

        </div>

    </div>

</div>

<div class="form-padding-left text-center noprint">
    @Html.ActionLink("Back to Report", "ReservationReport", Model.SearchReportVM)

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
       
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({ html: true });

            $('#btnPrint').click(function (e) {
                e.preventDefault();
                var $btnClicked = $(this);
                var resid = $btnClicked.attr('data-id');
                var secondPrint = $btnClicked.attr('data-secprint');
                PrintReport(resid, secondPrint);
            });

            

            function PrintReport(ResID, SecondPrint) {
                $.ajax({
                    type: 'POST',
                    url: '/Report/PrintReport',
                    data: { "ID": ResID, "secondPrint": SecondPrint, "HotelID" : @Model.Reservation.HotelID },
                    success: function (data) {
                        if (data.status) {                            
                            if (data.useravail == false) {
                                let user = "Reviewed by " + "@HttpContext.Current.User.Identity.Name";
                                document.getElementById("reviewname").innerHTML = user;
                            }
                            window.print();
                            location.reload(true);
                        }
                        else { alert("Error with User's Identity"); }

                    },
                    error: function () {
                        alert("Error in printing document");
                    }
                })
            };
        });




    </script>
}
