@model IEnumerable<WRR.Data.Models.Reservation.ReportDailyBreakdown>

@{
    ViewBag.Title = "ReservationDailyBreakdown";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservation Daily Breakdown</h2>
<p class="text-center text-lg text-primary">@ViewBag.Dates</p>
<table class="table table-responsive-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalNights)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.BookedDate)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.ReservationCount)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.TotalCharge)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.TotalNights)
            </td>
        </tr>
    }
</table>

<div class="form-padding-left">
    <a href="javascript:history.back()">Back to Report</a>
</div>
