@model WRR.Models.SearchReportViewModel

@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Summary Report</h2>
<hr />


@using (Html.BeginForm("SummaryReport", "Report", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.HotelID)

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "date-picker form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "date-picker form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group no-display">
            @Html.Label("Search by", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="custom-control custom-switch">
                    @Html.RadioButton("SearchBy", "ArrivalDate", htmlAttributes: new { @class = "custom-control-input", @id = "arrival" })
                    @Html.Label("Arrival Date", htmlAttributes: new { @class = "custom-control-label", @for = "arrival" })

                </div>
                <div class="custom-control custom-switch">
                    @Html.RadioButton("SearchBy", "BookedDate", htmlAttributes: new { @class = "custom-control-input", @id = "booked", @checked = "checked" })
                    @Html.Label("Booked Date", htmlAttributes: new { @class = "custom-control-label", @for = "booked" })
                </div>
            </div>
        </div>
        <div class="form-padding-left col-md-4 text-center">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $('.date-picker').datepicker();
        });
    </script>
}
