@model WRR.Models.PackageAllocationViewModel

@{
    ViewBag.Title = "Package Allocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadScript{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">

    <style type="text/css">

        .field-validation-error {
            color: #ff0000;
        }

        .fc-content {
            color: #fff;
            height: 40px;
            text-align: center;
            font-size: 24px;
        }
    </style>

}

<h2>Package Allocation</h2>


<hr />
<div class="form-row">
    <div class="col-md-3">
        @using (Html.BeginForm("Details", "PackageAllocation", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <p class="h2 p-2 text-primary">
                    @Html.DisplayFor(model => model.PackageName)
                    @Html.HiddenFor(model => model.SelectPackageID)

                </p>
                <div class="form-group">
                    @Html.Label("Room Types", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.SelectedRoomTypeID, new SelectList(Model.RoomTypes, "RoomTypeID", "Name"), "--Select Room--", htmlAttributes: new { @class = "custom-select" })
                        @Html.ValidationMessageFor(model => model.SelectedRoomTypeID, "", new { @class = "text-danger" })<br />
                        <button type="button" id="btnGet" class="btn btn-primary mt-4">View Calendar</button>
                    </div>
                </div>
                @if (User.IsInRole("WRRAdmin") || User.IsInRole("Hotel"))
                {

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @id = "dt1" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @id = "dt2" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-padding-left">
                        <input type="submit" value="Save Allocations" class="btn btn-success" />
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-md-9">

        @Html.Partial("_fullcalendar", new WRR.Data.Models.Package.PackageEventViewModel());

    </div>

</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fullcalendarjs")

    <script>
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });

        function displayBusyIndicator() {
            $('.loading').show();
        }
    </script>

    <script type="text/javascript">


        $(function () {
            $("#dt1").datepicker({
                dateFormat: "dd-M-yy",
                onSelect: function (date) {
                    var date2 = $('#dt1').datepicker('getDate');
                    date2.setDate(date2.getDate() + 1);
                    $('#dt2').datepicker('setDate', date2);
                    //sets minDate to dt1 date + 1
                    $('#dt2').datepicker('option', 'minDate', date2);
                }
            });
            $('#dt2').datepicker({
                dateFormat: "dd-M-yy",
                onClose: function () {
                    var dt1 = $('#dt1').datepicker('getDate');
                    console.log(dt1);
                    var dt2 = $('#dt2').datepicker('getDate');
                    if (dt2 <= dt1) {
                        var minDate = $('#dt2').datepicker('option', 'minDate');
                        $('#dt2').datepicker('setDate', minDate);
                    }
                }
            });
            var selectedEvent = null;
            var PostBackUrl = null;
           // GenerateCalendar();

            @if(ViewBag.JavaScriptFunction != null)
            {

                @Html.Raw(ViewBag.JavaScriptFunction)

            }

            $('#btnGet').click(function () {
                var packageid = $("#SelectPackageID").val();
                var roomid = $("#SelectedRoomTypeID").val();
                FetchEvent(roomid, packageid);
            })

            function FetchEvent(roomid, packageid) {
                events = [];
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("SetRoomID", "PackageAllocation")',
                    data: { id: roomid },
                    success: function (result) {
                        $('#RoomName').text(result);
                        $('#warning').removeClass('no-display');

                        var admin = '@User.IsInRole("WRRAdmin")';
                        var hotel = '@User.IsInRole("Hotel")';

                        if (admin == "True" || hotel == "True") {
                            GenerateAdminCalendar(roomid, packageid);
                        }
                        else {

                            GenerateCalendar(roomid, packageid);
                        }
                    }
                })
            };


            function GenerateCalendar(roomid, packageid) {
                var link = '@Url.Action("GetAllocations", "PackageAllocation")?roomid=' + roomid + '&packageid=' + packageid;
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    defaultView: 'month',
                    contentHeight: 500,
                    selectable: true,
                    firstDay: 0,
                    header: {
                        left: 'prev, next',
                        center: 'title',
                        right: 'today'
                    },
                    firstDay: 0,
                    slotMinutes: 60,
                    events: link,
                    textColor: '#ffffff'


                });
            }


            function GenerateAdminCalendar(roomid, packageid) {
                var link = '@Url.Action("GetAllocations", "PackageAllocation")?roomid=' + roomid + '&packageid=' + packageid;
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    defaultView: 'month',
                    contentHeight: 500,
                    selectable: true,
                    firstDay: 0,
                    header: {
                        left: 'prev, next',
                        center: 'title',
                        right: 'today'
                    },
                    firstDay: 0,
                    slotMinutes: 60,
                    events: link,
                    textColor: '#ffffff',
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #packagename').text(calEvent.start.format("MM-DD-YYYY"));
                        $('#myModal #txtAllocation').val(calEvent.title);
                        $('#myModal #allocationid').val(calEvent.eventID);
                        $('#myModal').modal('show');
                    }

                });
            }

            $('#btnSave').click(function () {
                var q = $('#txtAllocation').val();
                if (q.trim() == "") {
                    alert("Quantity is required");
                }
                if (Math.floor(q) == q && $.isNumeric(q)) {
                    var data = {
                        EventID: $('#allocationid').val(),
                        title: $('#txtAllocation').val(),
                    }
                    SaveEvent(data);
                }
                else {
                    alert("Please enter valid number");
                }
            })

            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/PackageAllocation/SaveEvent',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            //refresh calendar
                            GenerateAdminCalendar(data.roomid, data.packageid);
                            $('#myModal').modal('hide');
                        }
                    }
                })
            }
        });
    </script>


}


