@model IEnumerable<WRR.Data.Models.RoomType.RoomType>

@using WRR.Extensions

@{
    ViewBag.Title = "Room Types";

}

<h2>Room Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Enumerable.Count(Model) > 0)
{
    <table class="table table-responsive-sm">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedType)
            </th>
            <th>Extra Person Type</th>
            <th>
                Images
            </th>
            <th class="text-center">Room Features</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BedType)
                </td>
                <td class="pl-3">
                    @if (item.AdultBase == true)
                    {
                        <span class="badge badge-pill badge-primary">Adult/Child Base</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-secondary">Max Number Base</span>
                    }
                </td>
                <td>
                    @Html.IconActionLink(" ", "Index", "RoomImages", new { id = item.RoomTypeID }, null, "far fa-images fa-3x text-info")

                </td>

                <td class="text-center">@Html.IconActionLink("", "RoomFeatures", "RoomTypes", new { id = item.RoomTypeID }, null, "fas fa-luggage-cart fa-3x text-dark")</td>
                <td class="text-nowrap align-middle">
                    @Html.ActionLink("Edit", "Edit", new { id = item.RoomTypeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RoomTypeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoomTypeID, name= item.Name, hotelid = item.HotelID }, new { onclick = "return confirm('Are you sure you want to delete?');" })
                </td>
            </tr>
        }
    </table>
}

else
{
    <div class="alert alert-warning">No Results</div>
}

