@model WRR.Data.Models.Package.PackageAmenity

@using (Html.BeginForm("Edit", "PackageAmenity", FormMethod.Post))
{

<div class="modal-header">
    <h2 class="modal-title text-primary"><span id="PackageName"> @ViewBag.PackageName</span></h2>
    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>

</div>
<div class="modal-body">
    @Html.HiddenFor(model => model.PackageAmenityID)
    @Html.HiddenFor(model => model.PackageID)
    @Html.HiddenFor(model => model.ExtraAmenityID)
    <h3 class="text-info">@ViewBag.AmenityName</h3>

    <div class="custom-control custom-switch mt-4 mb-2">
        @Html.CheckBoxFor(model => model.Mandatory, new { @class = "custom-control-input", @id = "mandatory" })
        @Html.Label("Mandatory", htmlAttributes: new { @class = "custom-control-label", @for = "mandatory" })
    </div>
    <div id="mandatoryContainer" style="@(Model.Mandatory == true ? "display:initial" : "display:none")">
        <div class="custom-control custom-switch mt-2 mb-2">
            @Html.CheckBoxFor(model => model.ViewRate, new { @class = "custom-control-input", @id = "rate" })
            @Html.Label("View Rates", htmlAttributes: new { @class = "custom-control-label", @for = "rate" })
        </div>
        @if (Model.NeedsAdditionalPurchases == true)
        {
            <div class="custom-control custom-switch mb-4">
                @Html.CheckBoxFor(model => model.AdditionalPurchases, new { @class = "custom-control-input", @id = "purchase" })
                @Html.Label("Additional Purchases", htmlAttributes: new { @class = "custom-control-label", @for = "purchase" })
            </div>
        }
        @if (Model.NeedsQty == true)
        {
            <div class="mb-2">
                @Html.LabelFor(model => model.MandatoryQuantity, htmlAttributes: new { @class = "control-label col-md-6" })
                @Html.EditorFor(model => model.MandatoryQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MandatoryQuantity, "", new { @class = "text-danger" })
            </div>
        }
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" id="btnSave" class="btn btn-success" value="Save">

        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    </div>
    }

    <script type="text/javascript">

        $('#mandatory').click(function () {

            if ($('#mandatory').is(':checked')) {
                $('#mandatoryContainer').show();
            }
            else {
                $('#mandatoryContainer').hide();
            }
        })

    </script>

