@model WRR.Models.RackRackViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rack Rates</h2>
<hr />
<h1 class="mb-3 text-primary">@Html.LabelForModel(Model.RoomType.Name)</h1>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="mb-4">
    @if (User.IsInRole("WRRAdmin") || User.IsInRole("Hotel"))
    {
    <p class="h2 p-2">
        <button type="button" id="btnAdd" class="anchorAdd btn btn-success" data-id='@Model.RoomType.RoomTypeID'>Add Rates</button>
       @if (Model.RackRates.Count > 0)
       {
        @Html.ActionLink("Edit All Rates", "EditAll", new { @id = Model.RoomType.RoomTypeID }, htmlAttributes: new { @class = "btn btn-secondary" })
       }
    </p>
    }
    

    @if (Model.RackRates.Count > 0)
    {
        <table class="table table-responsive-sm">
            <tr>

                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>

                <th>
                    Tier A
                </th>
                <th>
                    Tier B
                </th>
                <th>
                    Tier C
                </th>
                <th>Tier D</th>
                <th></th>
            </tr>
            @foreach (var item in Model.RackRates)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TierARate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TierBRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TierCRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TierDRate)
                    </td>
                    <td>
                        @if (User.IsInRole("WRRAdmin") || User.IsInRole("Hotel"))
                        {
                        @Html.ActionLink("Edit", null, null, new { @class = "btnEdit", data_id = item.RackRateID }) <span> | </span> 
                        @Html.ActionLink("Delete", "Delete", new { id = item.RackRateID, roomid = Model.RoomType.RoomTypeID, roomName = Model.RoomType.Name, start = item.StartDate, end = item.EndDate }, new { onclick = "return confirm('Are you sure you want to delete?');" })
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert alert-warning">No Results</div>
    }
</div>

<p>
    <div class="col-auto my-auto">
        @Html.ActionLink("Back to List", "Index")
    </div>
</p>

<div id='addModal' class='modal' role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='addModalContent'></div>
        </div>
    </div>

</div>
<div id='editModal' class='modal' role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='editModalContent'></div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">


        var AddRatePostBackURL = '/RoomRackRate/AddRate';
        var EditRatePostBackURL = '/RoomRackRate/EditRate';

        $(function () {
            $('.btnEdit').click(function (e) {
                e.preventDefault();
                var $btnClicked = $(this);
                var rackid = $btnClicked.attr('data-id');

                $.ajax({
                    type: "GET",
                    url: EditRatePostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": rackid, "Page" : "one"},
                    datatype: "json",
                    success: function (data) {
                        $('#editModalContent').html(data);

                        $('#editModal').modal('show');
                    },
                    error: function () {
                        alert("Content failed to load");
                    }
                });

            });
            $('.anchorAdd').click(function (e) {
                e.preventDefault();
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
              
                $.ajax({
                    type: "GET",
                    url: AddRatePostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id, "page" : "one" },
                    datatype: "json",
                    success: function (data) {

                        $('#addModalContent').html(data);

                        $('#addModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');


        });
    </script>
}

