@model WRR.Data.Models.RoomType.RoomType

@{
    ViewBag.Title = "temp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadScript{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">

    <style type="text/css">

        .field-validation-error {
            color: #ff0000;
        }

        .fc-content {
            color: #fff;
            height: 40px;
            text-align: center;
            font-size: 24px;
        }
    </style>

}
<h2>temp</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Room Types", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.RoomTypeID, ViewBag.RoomList as SelectList, htmlAttributes: new { @class = "" })
            </div>
        </div>
        <div class="form-group">
            <button type="button" id="btnGet" class="btn btn-primary">View Calendar</button>
        </div>
    </div>
}
<div id="divresults"></div>

@Html.Partial("_fullcalendar")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fullcalendarjs")

    <script type="text/javascript">

        $(document).ready(function () {
            var selectedEvent = null;
            $('#btnGet').click(function () {
                var roomid = $("#RoomTypeID").val();
                alert(roomid);
                FetchEvent(roomid);
                //GenerateCalendar();
            })

            function FetchEvent(roomid) {
                events = [];
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("SetRoomID", "RoomAllocation")',
                    data: { id: roomid },
                    success: function (result) {
                        $('#divresults').html(result);
                        GenerateCalendar();
                    }

                })
            }

            function GenerateCalendar() {
                
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    defaultView: 'month',
                    contentHeight: 500,
                    selectable: true,
                    header: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'today'
                    },
                    firstDay: 1, //The day that each week begins (Monday=1)
                    slotMinutes: 60,
                   
                    events: '@Url.RouteUrl(new { action = "GetAllocations", controller = "RoomAllocation" })',
                    textColor: '#ffffff',
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.start.format("MM-DD-YYYY"));
                        $('#myModal #txtAllocation').val(calEvent.title);
                        $('#myModal #allocationid').val(calEvent.eventID);
                        $('#myModal').modal();
                    }


                });
            }
            $('#btnSave').click(function () {
                //Validation/
                var q = $('#txtAllocation').val();
                if (q.trim() == "") {
                    alert("Quantity is required");
                    return;
                }
                if (Math.floor(q) == q && $.isNumeric(q)) {

                    var data = {
                        EventID: $('#allocationid').val(),
                        title: $('#txtAllocation').val(),
                    }
                    SaveEvent(data);
                }
                else { alert("Please enter valid number"); }

            })

            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/RoomAllocation/SaveEvent',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            //refresh the calendar
                            GenerateCalendar();
                            $('#myModal').modal('hide');
                        }
                    }
                })
            }

    		});
    </script>
}